<template>
  <div
    class="ui search selection dropdown"
    :class="{ 'multiple': multiple, 'active visible': shouldShowOption }"
    v-click-outside="hide"
    @click="toggle">
    <i class="dropdown icon" @click="toggle"></i>
    <a v-if="multiple" class="ui label transition visible" v-for="option in selected" :key="option.value"
       :data-value="option.value" style="display: inline-block !important;">
      {{ getOptionLabel(option) }}<i class="delete icon" @click.stop="deselect(option, $event)"></i>
    </a>
    <input class="search"
           ref="search"
           v-model="search"
           autocomplete="off"
           tabindex="0"
           v-if="searchable"
    >
    <span class="sizer"></span>
    <div v-if="!multiple"
         :class="{ 'default text': !selected.hasOwnProperty('value'), 'filtered': search.length > 0}">
      {{ selected.hasOwnProperty('value') ? selected.text : 'Gender' }}
    </div>
    <div v-else
         :class="{ 'default text': !selected.length > 0,'hide': selected.length > 0, 'filtered': search.length > 0}">
      {{ placeholder }}
    </div>
    <transition :name="transition">
      <div
        ref="menu"
        class="menu transition"
        :class="{ 'visible block': shouldShowOption }"
        v-show="shouldShowOption"
        tabindex="-1">
        <slot>
          <template v-show="filteredOptions.length > 0">
            <div
              ref="items"
              class="item"
              :class="{'active selected': alreadySelected(option) }"
              @click.stop="select(option, $event)"
              v-for="(option, index) in filteredOptions" :key="index">
              {{ getOptionLabel(option) }}
            </div>
          </template>
          <div class="message" v-show="filteredOptions.length < 1" v-html="messages.noResults"></div>
        </slot>
      </div>
    </transition>
  </div>
</template>
<script>
  import 'semantic-ui-dropdown/dropdown.css';
  import 'semantic-ui-label/label.css';
  import 'semantic-ui-icon/icon.css';
  import differenceBy from 'lodash/differenceBy';
  import ClickOutside from '../mixins/ClickOutside';

  export default {
    name: 'DropDown',
    directives: {
      ClickOutside,
    },
    props: {
      id: {
        default() {
          return null;
        },
      },
      options: {
        type: Array,
        required: true,
      },
      trackBy: {
        default: 'value',
      },
      label: {
        default() {
          return 'label';
        },
      },
      defaultSelected: {
        required: false,
        default() {
          return this.multiple ? [] : {};
        },
      },
      multiple: {
        type: Boolean,
        required: false,
        default: false,
      },
      searchable: {
        type: Boolean,
        default: false,
      },
      internalSearch: {
        type: Boolean,
        default: true,
      },
      taggable: {
        type: Boolean,
        default() {
          return false;
        },
      },
      addTag: {
        type: Function,
        default(value) {
          const option = { [this.label]: value, [this.trackBy]: value };
          this.mutableOptions.push(option);
          this.selected.push(option);
        },
      },
      transition: {
        type: String,
        default: 'slide-up-down',
      },
      placeholder: {
        type: String,
        default: 'Click here to select option',
      },
      getOptionLabel: {
        type: Function,
        default(option) {
          if (typeof option === 'object') {
            if (this.label && option[this.label]) {
              return option[this.label];
            }
          }
          return option;
        },
      },
      messages: {
        type: Object,
        required: false,
        default() {
          return {
            addResult: 'Add <b>{term}</b>',
            count: '{count} selected',
            maxSelections: 'Max {maxCount} selections',
            noResults: 'No results found.',
          };
        },
      },
    },
    data() {
      return {
        selected: [],
        mutableOptions: [],
        search: '',
        shouldShowOption: false,
      };
    },
    watch: {
      multiple(isMultiple) {
        this.selected = isMultiple ? [] : {};
        this.$emit('input', this.selected);
      },
    },
    computed: {
      filtered() {
        return this.filteredOptions.length > 0;
      },
      filteredOptions() {
        const search = this.search;
        let options = '';
        if (search.length === 0) {
          options = this.mutableOptions;
        }
        if (this.internalSearch && search.length > 0) {
          options = differenceBy(this.mutableOptions, this.selected, this.trackBy)
            .filter(remainingOption =>
              this.getOptionLabel(remainingOption)
                .toLowerCase()
                .indexOf(this.search.toLowerCase()) > -1,
            );
        }

        if (this.taggable && options.length < 1) {
          options.push({ isTag: true, [this.label]: search });
        }

        return options;
      },
    },
    created() {
      this.mutableOptions = this.options;
    },
    methods: {
      toggle() {
        if (!this.animating) {
          if (this.shouldShowOption) {
            this.hide();
          } else {
            this.show();
          }
        }
      },
      show() {
        this.shouldShowOption = true;
        if (this.searchable) {
          this.$refs.search.focus();
        }
        if (typeof this.$vnode.componentOptions.propsData.upward === 'undefined') {
          // get the window height https://gist.github.com/joshcarr/2f861bd37c3d0df40b30
          this.$nextTick(() => {
            const windowHeight = window.innerHeight ||
              document.documentElement.clientHeight ||
              document.getElementsByTagName('body')[0].clientHeight;
            const bottom = this.$el.getBoundingClientRect().bottom;
            // menu element
            const menu = this.$refs.menu;
            // put the menu element into the DOM
            menu.style.visibility = 'hidden';
            menu.style.display = 'block';
            this.isUpward = (menu.offsetHeight + bottom > windowHeight);

            menu.removeAttribute('style');
          });
        }
      },
      hide() {
        this.shouldShowOption = false;
      },

      alreadySelected(option) {
        if (this.selected.length > 0) {
          return this.selected.filter(selectedOption =>
            selectedOption[this.trackBy] === option[this.trackBy]).length > 0;
        }
        return false;
      },
      select(option, event) {
        if (option.isTag) {
          this.addTag(option[this.label]);
          this.search = '';
          return;
        }

        if (this.multiple) {
          event.stopPropagation();
          if (this.alreadySelected(option)) {
            this.deselect(option, event);
            return;
          }
          this.selected.push(option);
        } else {
          this.selected = option;
        }
        this.$emit('input', this.selected);
        this.$emit('dropdown:selected', option);
      },
      deselect(option, event) {
        event.stopPropagation();
        this.selected.splice(this.selected.indexOf(option), 1);
        this.$emit('input', this.selected);
        this.$emit('dropdown:deselected', option);
      }
      ,
    },
  }
  ;
</script>
<style>
  .block {
    display: block !important;
  }

  .hide {
    display: none !important;
  }

  .slide-up-down-enter-active {
    animation: fadeInDown 200ms cubic-bezier(0, 1, 0.5, 1);
  }

  .slide-up-down-leave-active {
    animation: fadeInUp 200ms cubic-bezier(0, 1, 0.5, 1);
  }

  @-moz-keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -20px, 0);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }

  @-webkit-keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -20px, 0);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }

  @-o-keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -20px, 0);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }

  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -20px, 0);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }

  @keyframes fadeInUp {
    to {
      opacity: 0;
      transform: translate3d(0, -20px, 0);
    }
    from {
      opacity: 1;
      transform: none;
    }
  }

</style>
