<template>
  <div id="app">
    <form action="">

      <Dropdown
        :options="countries"
        trackBy="value"
        label="name"
        :multiple="multiple"
        :searchable="multiple"
        :taggable="multiple"
        @tagged="addTags"
      />
    </form>
  </div>
</template>

<script>
  import Dropdown from './components/Dropdown';
  import Countries from './countries';

  export default {
    name: 'app',
    components: {
      Dropdown,
    },
    data() {
      return {
        multiple: true,
        countries: Countries,
      };
    },
    methods: {
      addTags(tag) {
        return this.countries.push({
          value: tag,
          name: tag,
        });
      },
    },
  };
</script>

<style>
  #app {
    margin-top: 60px;
  }

  body {
    font-family: Open Sans, Helvetica Neue, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    background-color: #fff;
  }
</style>
